<%= simple_form_for @recipe, html: { multipart: true } do |f| %>
  <% if @recipe.errors.any? %>
    <div id="errors">
      <p>
        <%= @recipe.errors.count %>
        Prevented this recipe froms saving
      </p>
      <ul>
        <% @recipe.errors.full_messages.each do |msg| %>
          <li>
            <%= msg %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
   <div class="col span-1-of-2">
    <%= f.input :title, input_html: { class: 'form-control' } %>
    </div>
     <div class="col span-1-of-2">
    <%= f.input :image, input_html: { class: 'form-control' } %>
    </div>

    <%= f.input :description, input_html: { class: 'form-control description-input' } %>


    <div class="row">

    <div class="col span-1-of-2">
        <h3>Add Ingredients</h3>
        <div id="ingredients">
          <%= f.simple_fields_for :ingredients do |ingredient| %>
            <%= render 'ingredient_fields', f: ingredient %>
          <% end %>
          <div class="links">
            <%= link_to_add_association ' ', f, :ingredients, class: "ion-plus-circled icon-big icon-add" %>
          </div>
        </div>
      </div>


        <div class="col span-1-of-2">
        <h3>Add Directions</h3>
        <div id="directions">
          <%= f.simple_fields_for :directions do |step| %>
            <%= render 'direction_fields', f: step %>
          <% end %>
          <div class="links">
            <%= link_to_add_association ' ', f, :directions, class: "ion-plus-circled icon-big icon-add" %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
       <center>
       <%= f.submit nil, input_html: { class: 'btn btn-full' } %>
    
        </center>
<% end %>
