
<nav class="slide-menu">
    <div class="row">
        <div class="wrapper" style="
            /* margin: auto 0; */
            left: 60px;
            top: 25px;">

            <svg width="10cm" height="10cm" viewBox="0 0 1000 1000" preserveAspectRatio="xMinYMin">

                <defs>
                    <path id="textPath" d="M 250 500 A 250,250 0 1 1 250 500.0001" />
                </defs>

                <text class="circle-text" x="0" y="0" text-anchor="middle">
                    <textPath xlink:href="#textPath" startOffset="50%">TEACH ME HOW TO COOK...</textPath>
                </text>
            </svg>

            <img class="logo" src="/assets/cook-negative.png" alt="logo">
            </a>
        </div>
    </div>

    <br>
    <br>
    <ul>
        <a href="/"><li class="timeline"><i class="ion-home icon-small"></i>Home</li></a>
        <a href="/recipes"><li><i class="ion-pizza icon-small"></i>All Recipes</li></a>
        <a href="/recipes/new"><li class="timeline"><i class="ion-plus-round icon-small"></i>Add Recipe</li></a>
        <li class="sep settings"><i class="ion-gear-b icon-small"></i>Settings</li>
        <li><i class="ion-log-out icon-small"></i>Logout</li>
    </ul>

</nav>

<div class="content show-recipe" style="padding-top: 50px;">
<secton class="section-recipes">
  <div class="menu-trigger"><i class="ion-gear-b icon-big"></i></div>
  <div class="row" id="recipe_top">
      <div class="col span-1-of-2 image-box">
      <%= image_tag @recipe.image(:medium), class: "recipe_image" %>
    </div>


      <div class="col span-1-of-2 box description-box">
      <div id="recipe_info-show">
        <h2>
          <%= @recipe.title %>
        </h2>
        <p class="description">
          <%= @recipe.description %>
        </p>
        <p>
          Submitted by
  
        </p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col span-1-of-2 box ingredients-box">
      <div id="ingredients-show">
        <h2>Ingredients</h2>
        <ul>
          <% @recipe.ingredients.each do |ingredient| %>
            <li>
              <%= ingredient.name %>
            </li>
          <% end %>
        </ul>
      </div>

    </div>

    <div class="col span-1-of-2 box directions-box">
      <div id="directions-show">
        <h2>Directions</h2>
        <ol>
          <% @recipe.directions.each do |direction| %>
            <li>
              <%= direction.step %>
            </li>
          <% end %>
        </ol>
      </div>
    </div>
  </div>

  <div class="row">
    <div>
      <%= link_to "Back", recipes_path, class: "btn btn-ghost" %>
 
        <%= link_to "Edit", edit_recipe_path, class: "btn btn-ghost" %>
        <%= link_to "Delete", @recipe, data: { behavior: 'delete' }, class: "btn btn-ghost" %>
      
    </div>
  </div>
  </secton>
  </div>

