<header>
<nav>
	<div class="row">


<div class="wrapper">
<a href="/">

 <svg 
   width="10cm" height="10cm"
   viewBox="0 0 1000 1000"
   preserveAspectRatio="xMinYMin">

		<defs>
		<path id="textPath" d="M 250 500 A 250,250 0 1 1 250 500.0001"/>
		</defs>

		<text class="circle-text" x="0" y="0" text-anchor="middle"><textPath xlink:href="#textPath" startOffset="50%" >TEACH ME HOW TO COOK...</textPath></text>
	</svg>

		<img class="logo" src="/assets/cook-negative.png" alt="logo">
</a>
 </div>



		<ul class="main-nav">
			<li><a href="#section-steps" class="page-scroll">Instructions</a></li>
			<li><a href="#">Recipes</a>
	      <ul class="dropdown-nav">
	        <li><a href="/recipes">All Recipes</a></li>
	        <li><a href="/recipes/new">Create Recipe</a></li>
	      </ul>
			</li>
			<% if user_signed_in? %>
			<li>
					  <%= link_to "Log Out", destroy_user_session_path, method: :delete %>
					  </li>
					<% else %>
					<li>
					  <%= link_to "Sign In", new_user_session_path %>
					</li>

				  <% end %>
		</ul>

	</div>
</nav>

	<div class="hero-text-box">
		<h1>Teach me how to cook. <br> Please...</h1>
		<a class="page-scroll btn btn-full" href="#section-features">I'm hungry</a>
		<a class="btn btn-ghost" href="/recipes/new">Share Recipe</a>

	</div>
</header>


<section id="section-steps">

	<div class="row">
		<h2>How it works &mdash; Simple. </h2>
	</div>
	<div class="row">
		<div class="col span-1-of-2 macbook steps-pic">
			<img src="/assets/steps.jpg" alt="macbook-frame" class="app-screen">
		</div>
		<div class="col span-1-of-2">

			<div class="works-step">
				<div>1</div>
				<p><a href="#">Sign Up with Facebook to be able to create a recipe for me</a></p>
			</div>

				<div class="works-step">
				<div>2</div>
				<p><a href="#">Share Your Recipe by adding Ingredients, Directions and Images to your recipe post</a></p>
			</div>

			<div class="works-step">
				<div>3</div>
				<p><a href="#">Notify me of a new recipe and I will recreate it and post pictures of the result!</a></p>
			</div>
		</div>
	</div>

				<div class="row">
						<a class="btn btn-full signup-btn page-scroll" href="/users/sign_up">Get Started</a>
		   </div>

</section>



<section id="section-features">

	<div class="row">
		<h2>Share your favorite recipes with me!</h2>
		<center>
			I love to eat! Help me fall in love with cooking :)
		</center>
	</div>


		<div class="row categories-description">

		<div class="col span-1-of-4 box">
		<i class="icon ion-ios-nutrition icon-big"></i>
			<h3>Appetizers</h3>
			<figure class="meal-photo">
			<%= image_tag 'appetizer.jpg' %>
			</figure>
		</div>

				<div class="col span-1-of-4 box">
		<i class="icon ion-pizza icon-big"></i>
			<h3>Main Entrees</h3>
			<figure class="meal-photo">
			<%= image_tag 'entree.jpg' %>
			</figure>
		</div>

				<div class="col span-1-of-4 box">
		<i class="icon ion-icecream icon-big"></i>
			<h3>Desserts</h3>
			<figure class="meal-photo">
			<%= image_tag 'dessert.jpg' %>
			</figure>
		</div>

				<div class="col span-1-of-4 box">
		<i class="icon ion-android-bar icon-big"></i>
			<h3>Coctails / Smoothies</h3>
			<figure class="meal-photo">
			<%= image_tag 'smoothie.jpg' %>
			</figure>
		</div>

	</div> <!-- end of row -->

				<div class="row">
						<a class="btn btn-ghost signup-btn page-scroll" href="/recipes/new">Add Recipe</a>
		   </div>

</section>


<section id="section-meals">
	<ul class="meals-showcase clearfix">
	<% if false %>
		<% @images.each do |image| %>
		<li>
			<figure class="meal-photo">
			   <%= image_tag "recent-recipes/#{image.split('/').last}" %>
			</figure>
		</li>
			<% end %>
			<% end %>
	</ul>

</section>



<!-- <section id="section-advice">
	<div class="row">
		<h2>Bla bla bla</h2>
	</div>

	<div class="row">

		<div class="col span-1-of-3">
			<blockquote>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. At perferendis, sapiente id repellendus! Animi illo, necessitatibus molestias, nisi facilis, porro quis, quia velit voluptates eos obcaecati natus! Dolorum, cum, quam.
				<cite><img src="/assets/customer-2.jpg" alt=""> John Smith</cite>
			</blockquote>
		</div>

		<div class="col span-1-of-3">
			<blockquote>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. At perferendis, sapiente id repellendus! Animi illo, necessitatibus molestias, nisi facilis, porro quis, quia velit voluptates eos obcaecati natus! Dolorum, cum, quam.
				<cite><img src="/assets/customer-2.jpg" alt=""> John Smith</cite>
			</blockquote>
		</div>

				<div class="col span-1-of-3">
			<blockquote>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. At perferendis, sapiente id repellendus! Animi illo, necessitatibus molestias, nisi facilis, porro quis, quia velit voluptates eos obcaecati natus! Dolorum, cum, quam.
				<cite><img src="/assets/customer-2.jpg" alt=""> John Smith</cite>
			</blockquote>
		</div>

	</div>

</section> -->

<section class="section-form">
	
	<div class="row">
		<h2>Beep Beep. Send me a message :)</h2>
	</div>

	<div class="row">
		            <form name="sentMessage" id="contactForm" novalidate action="//formspree.io/gannasachakov@gmail.com" method="POST">
                        <div class="row">
                         
                                <div class="form-group">
                                      
                                    <input type="text" class="form-control" placeholder="Your Name *" id="name" required data-validation-required-message="Please enter your name." name="name">
                                    <p class="help-block text-danger"></p>
                                </div>
                           
                                <div class="form-group">
                                    <input type="email" class="form-control" placeholder="Your Email *" id="email" required data-validation-required-message="Please enter your email address." name="_replyto">
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="form-group">
                                    <textarea class="form-control" placeholder="Talk to me *" id="message" required data-validation-required-message="Please enter a message." name="message" style="height:300px"></textarea>
                                    <p class="help-block text-danger"></p>
                                </div>
                            
                            <input type="hidden" name="_next" value="https://teach-me-how-to-cook.herokuapp.com/" />
                            <input type="hidden" name="_subject" value="Recipe contact" />
                            <input type="text" name="_gotcha" style="display:none" />
                            <div class="clearfix"></div>
                       
                                <div id="success"></div>
                          <center>
                        <button type="submit" class="btn btn-full" value="Send">Send Message</button>
                        </center>
                          

                        </div>
                    </form>

	</div>

</section>



